@page
@model IndexModel
@using Controls;
@{
    ViewData["Title"] = "Clicker";
}

@* Inside <header id='header-parent'>*@
@section Header
{
    <div class="col d-flex align-items-center h-100">
        <input id="global-toggle" type="checkbox" checked="@Model.Listening" data-toggle="toggle" data-onstyle="success" data-on="Listening" data-off="Not Listening">
    </div>

}
@* </header> *@

@section Scripts
{
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="~/js/clicker.js" asp-append-version="true"></script>
}

<div id="left-container" class="col-4">
    <div id="left-container-controls" class="container-fluid">
        <ul class="d-flex justify-content-start align-items-end">
            <li class="list-group-item rounded-0"><div class="d-flex align-items-center justify-content-center"><i class="fas fa-plus-circle"></i></div></li>
            <li class="list-group-item mr-auto rounded-0"><div class="d-flex align-items-center justify-content-center"><i class="fas fa-minus-circle"></i></div></li>
            <li class="list-group-item rounded-0"><div class="d-flex align-items-center justify-content-center"><i class="fas fa-star"></i></div></li>
        </ul>
    </div>
    <div id="left-container-list" class="container-fluid">
        <div class="list-group shadow" role="tablist">
            @foreach (MacroDetails details in Model.Macros)
            {
                <a class="list-group-item list-group-item-action rounded-0" id="list-@details.name-list" data-toggle="list" href="#list-@details.name" role="tab" aria-controls="@details.name">
                    @details.name
                </a>
            }
        </div>
    </div>
</div>

<div class="col d-flex flex-column" id="right-container">
    <div class="rounded-lg flex-grow-1" id="settings-pane">
        <div class="tab-pane fade show active" id="list-none" role="tabpanel" aria-labelledby="nothin">Click any list item to view its configuration...</div>
        @foreach (MacroDetails details in Model.Macros)
        {
            <div class="tab-pane fade" id="list-@details.name" role="tabpanel" aria-labelledby="list-@details.name-list">
                @details.name
                @details.index
            </div>
        }
    </div>
</div>
